@use "../util" as *;
body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: $ff;

  font-size: 16px;
}

h1,
h2 {
  font-weight: $semibold;
  line-height: 1.1;
  margin-bottom: 0.4rem;
}

h1 {
  font-size: var(--fs-heading);
}

h2 {
  font-size: var(--fs-subheading);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 1.9rem;
  max-width: 1180px;
  margin-inline: auto;
}

.content2-flex-box,
.content1-flex-box {
  overflow: hidden;
  border-radius: 8px;
}

.content2-flex,
.content1-flex {
  @extend .child-box-overlay;
}
